# RootStock Testnet
RSK_TESTNET_RPC_URL=''

# Firebase config
VITE_FIREBASE_API_KEY=''
VITE_FIREBASE_AUTH_DOMAIN=''
VITE_FIREBASE_PROJECT_ID=''
VITE_FIREBASE_STORAGE_BUCKET=''
VITE_FIREBASE_MESSAGING_SENDER_ID=''
VITE_FIREBASE_APP_ID=''

# Production state
VITE_ENABLE_TESTNETS=''

# Wallet connect
VITE_WALLET_CONNECT_PROJECT_ID=''

# wallet addresses and private keys
VITE_WALLET_PRIVATE_KEY=''
VITE_WALLET_PUBLIC_KEY=''
